// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents row{
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}
.name {
  width: 100vw;
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}